<header class="p-3 flex justify-center items-center bg-[#0A2239]">
  <div class="text-2xl font-bold text-white">Forth Evaluator</div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
